.container{
    margin-top: 5vh;
    display: flex;
    height: auto;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
}
.listing_container {
    margin: 0;
    height: auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;
}
.listing {
    width: 95%;
    margin: 0;
}
.listing {
    width: 100%;
    margin: 0;
}
.container_title h1{
    font-family: Itim;
    font-size: 3rem;
}
.container_title {
    width: 80vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}