@font-face {
    font-family: 'Itim';
    src: url('/fonts/Itim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins_Light';
    src: url(/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
* {
max-width: 100%; /* Constrain all elements */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    overflow-x: hidden;
}
#back-home {
    position: absolute;
    top: 16vh;
    left: 8vw;
    font-size: 1.25rem;
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", sans-serif;
    z-index: 1;
}
#back-home:hover {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", sans-serif;
}
a.focusable {
    text-decoration: none;
    padding-left: 0.625rem;
    transition: padding-left 0.2s ease-in-out;
}

a.focusable.focused {
    border-left: 0.25rem solid blueviolet;
    padding-left: 0.625rem;
    font-weight: bold;
    transition: border-left 0.2s ease-in-out, padding-left 0.2s ease-in-out;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}
label {
    font-size: 1.05rem;
}
#edit-profile {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6vh auto;
    width:85vw;
    height:130vh;
}
#edit-profile h1 {
    font-size:2.25rem;
}
#edit-profile h3 {
    font-size:1.55rem;
}
#profile-menu {
    display: flex;
    flex-direction: column;
    position:absolute;
    top:5vh;
    left:0;
    padding:1rem;
    gap:0.2rem;
}
#profilepic-page {
    position: relative;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 50%; 
    width: 12vw; 
    height: 12vw; 
    margin: 2.3rem 0;
    object-fit: cover; 
}
#pictureprofile-page {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    border: 2px solid #ddd;
    margin-top:2.5rem;
}
#pictureprofile-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#edit-profile-form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width:40vw;
}
.profile-details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 2.5rem;
}
#edit-profile-form input , #change-password-form input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.625rem;
}
#edit-profile-form textarea{
    resize:none;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height:30vh;
    border: 1px solid #000000;
    border-radius: 0.625rem;
}
#change-password-form {
    display: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 1rem;
    width:40vw;
    top: 5vh;
}
.submit_cont{
    margin-top: 2vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.submit{
    border-radius: 1rem;
    background-color: aqua;
    height: 5vh;
    width: 20vw;
}
#logout{
    margin-top: 3vh;
    width: 15vw;
    height: 5vh;
    background-color: #ddd;
    border-radius: 1rem;
    background-color: red;
}

@media (max-width: 800px) {
    #edit-profile-form{
        width:70vw;
    }
    #back-home {
        position: absolute;
        top: 30vh;
        left: 8vw;
    }
    .submit {
        width: 40vw;
    }
    #logout {
        width: 30vw;
    }
}

